.contactContainer{
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    align-items: center;

    .contactme{
        background: rgb(44, 43, 43);
        border: 5px solid rgba(48, 48, 48, 0.134);
        border-radius: 180px;
        font-size: 222px;
        height: 100%;
        padding: 10px;
        font-family: $titlefont;
        transition: 1s all;

        @include for-1024{
            font-size: 150px;
        }

        @include for-tablet{
            font-size: 119px;
              
          }

          @include for-phone{
            font-size: 50px;


        }

    }.contactme:hover{
        background: white ;
        border: none;
        border: 5px solid rgba(48, 48, 48, 0.134);
        box-shadow: rgba(171, 171, 176, 0.1) 0px 8px 24px, rgba(195, 195, 200, 0.1) 0px 16px 56px, rgba(209, 209, 216, 0.1) 0px 24px 80px;


    }

    .socialContainer{
        display: flex;
        gap: 200px;

        @include for-phone{
            gap: 20px;
    
        }
    }

    

    .fa{
        display: flex;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        align-items: center;
        color: black;
        background-color: rgb(42, 42, 42);
        border: 5px solid rgba(48, 48, 48, 0.134);
        border-radius: 180px;
        font-size: 252px;
        width: 100px;
        height: 100px;
        transition: 1s all;
        font-size: 62px;

    }.fa:hover{
        border: 5px solid rgba(48, 48, 48, 0.134);
        color: rgb(72, 138, 177);
        box-shadow: rgba(94, 142, 253, 0.1) 0px 8px 24px, rgba(58, 110, 170, 0.1) 0px 16px 56px, rgba(88, 138, 238, 0.353) 0px 24px 80px;
    }
    .fa:hover:nth-child(2){
        border: 5px solid rgba(48, 48, 48, 0.134);
        color: rgb(209, 209, 209);
        box-shadow: rgba(215, 215, 215, 0.1) 0px 8px 24px, rgba(209, 209, 209, 0.1) 0px 16px 56px, rgba(238, 238, 238, 0.353) 0px 24px 80px;
    }
    .fa:hover:nth-child(3){
        border: 5px solid rgba(48, 48, 48, 0.134);
        color: rgb(255, 115, 229);
        box-shadow: rgba(245, 109, 255, 0.1) 0px 8px 24px, rgba(255, 83, 40, 0.1) 0px 16px 56px, rgba(13, 94, 0, 0.353) 0px 24px 80px;
    }
}



.contactSection{
    display: flex;
    margin-top: 150px;
    width: 100%;
    height: 1250px;

    @include for-phone{
        flex-direction: column;

    }


    .contactInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        width: 50%;
        gap: 20px;
        color: white;
        background: radial-gradient(circle, rgba(29,29,29,1) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        
        
        @include for-1024{
            width: 60%;
    
        }

        @include for-tablet{
            width: 50%;
              
          }

        @include for-phone{
            width: 100%;
    
        }
        

        .titleSection{
            padding-top: 0px;
            width: 600px;
            line-height: 150px;
            text-align: left;

            @include for-phone{
                width: 300px;
        
            }

        @include for-tablet{
            font-size: 70px;
            text-align: center;
              
          }
        

        }

        p{
            width: 550px;

            @include for-tablet{
                width: 350px;
                  
              }
            
        }

    }
    .formInfo {
        width: 50%;
        height: 100%;

        @include for-phone{
            width: 100%;
    
        }

        form{
            display: flex;
            padding: 50px;
            width: 100%;
            gap: 20px;

            flex-direction: column;

            @include for-1024{
                width: 100%;
        
            }

            label{
                text-align: left;
                color: white;
            }

            div{
                color: red;
            }
            p{
                color: greenyellow;
            }

            .Field{
                font-size: 20px;
                width: 100%;
                padding: 30px;
                border-radius: 10px;
                border: none;
                color: $gray;
                background: rgb(29,29,29);
                background: radial-gradient(circle, rgba(29,29,29,1) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }

            .Field::placeholder{
                color: $gray;
            }

            .Field-message{
                font-size: 20px;
                padding: 10px;
                height: 250px;


            }

            .formButton{
                width: 150px;
                font-size: 32px;
                padding: 5px;
                border-radius: 10px;
            }

            .defaultButton{
                width: 200px;
            }
        }

    }
}