.Container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.principalContainer {


    width: 85%;
    height: 100%;

    

    .characterRole{
        flex-direction: column;
        gap: 30px;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        margin-bottom: 120px;


        img{
            background-color: blue;
            width: 30%;
            height: 60%;
        }

        h2{
            font-size: 55px;
            font-family: $titlefont;
            color: #CAC9CB;
        }
    }

    .characterInfo{
        display: flex;
        margin-top: 30px;
        justify-content: space-evenly;
        color: #CAC9CB;


        p{
            font-size: 28px;
            width: 80%;
            font-family: Arial, Helvetica, sans-serif;
        }
        ul{
            display: flex;
            flex-direction: column;
            font-size: 25px;
            list-style: none;
            gap: 20px;
            width: 100%;
            
            li{
                border-bottom: 1px solid #CAC9CB;
                height: 40px;
                width: 80%;
                font-family: Arial, Helvetica, sans-serif;


            }
        }
    }

    .titleSection{
        text-align: center;
        width: 100%;
        color: #CAC9CB;
        padding-top: 200px;
        font-size: 150px;
        z-index: 99;
        position: relative;
        font-family: $titlefont;

    }
}


.skillBox{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #CAC9CB;
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
    border-radius: 10px;
    margin-top: -50px;
    width: 100%;
    padding: 100px;
    height: 300px;

    .skillBoxUnique{
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
        width: 300px;
        gap: 10px;
    }

    .skillBoxUnique h3{
        font-size: 26px;
    }

    .skillBoxUnique:nth-child(1){
        color: rgb(181, 181, 0);
    }
    .skillBoxUnique:nth-child(2){
        color: rgb(0, 109, 181);
    }
    .skillBoxUnique:nth-child(3){
        color: rgb(1, 126, 28);
    }
    .skillBoxUnique:nth-child(4){
        color: rgb(234, 82, 171);
    }
    .skillBoxUnique:nth-child(5){
        color: rgb(252, 54, 74);
    }
}

