.projectContainer{
    display: flex;
    flex-direction: column;    
    gap: 100px;

    .projectItem{
        position: relative;
        display: flex;
        align-items: flex-end;
        border-radius: 30px;
        height: 503px;
        overflow: hidden;
        color: $gray;
        background: rgb(29,29,29);
        background: radial-gradient(circle, rgba(29,29,29,1) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        opacity: 0;

        img{
            position: absolute;
            z-index: -2;
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
            height: 75%;
            top: -40px;

            
        }
        h3{
            font-family: $titlefont;
            font-size: 62px;
            padding-left: 30px;
        }

        .projectInfo .containerTag{
            padding: 30px;
            gap: 20px;
            display: flex;


            h4{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                font-size: 20px;
                background-color: white;
                color: black;
                width: 100px;
                height: 20px;

            }
        }


    }

    
}

