.swiper {
    width: 100%;
    height: 100%;
  }


  
  .swiper-slide {
    text-align: center;
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
    color: #CAC9CB;
    padding: 40px;
    transition: 1s all;
    
   

    /* Center slide text vertically */
    display: flex !important;
    height: 450px !important;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: flex-start;
    text-align: left;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    
    @include for-tablet{
    height: 390px !important;
      
  }
    img{
        height: 50px !important;
        width: 50px !important;

    }

    p{
        font-size: 26px;

        @include for-1024{
          font-size: 20px;
      }
    }

    h3{
        font-size: 24px;
    }
  }

  

  .swiper-pagination-bullet{
    background-color: white !important;
  }
  
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide:hover{
    transform: scale(0.98) !important;


  }