.textMove{
    display: flex;
    align-items: center;
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,1) 0%, rgba(59,59,59,1) 89%, rgba(73,73,73,1) 100%);
    color: #b2b1b3;
    width: 100%;
    overflow: hidden;
    height: 300px;
    text-wrap: nowrap;

    h2{
        position: relative;
        font-size: 252px;
        font-family: $titlefont;
    }
    h2::before {
        content:attr(data-text);
      }

}