*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Headlines;
  src: url("/fonts/HeadlinesUniB-MediumTrial.otf");
}
body {
  background-color: rgb(31, 30, 29);
}

nav {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(31, 30, 29);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 999;
}
@media (max-width: 740px) {
  nav {
    padding: 20px;
  }
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav .Link {
  color: white;
  list-style: none;
  text-decoration: none;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Link {
  text-decoration: none;
}

.principalContainer {
  width: 85%;
  height: 100%;
}
.principalContainer .characterRole {
  flex-direction: column;
  gap: 30px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 120px;
}
@media (max-width: 740px) {
  .principalContainer .characterRole {
    margin-top: 150px;
  }
}
.principalContainer .characterRole img {
  background-color: blue;
  width: 30%;
  height: 50%;
}
@media (max-width: 740px) {
  .principalContainer .characterRole img {
    width: 80%;
    height: 40%;
  }
}
@media (max-width: 768px) {
  .principalContainer .characterRole img {
    width: 50%;
    height: 50%;
  }
}
.principalContainer .characterRole h2 {
  font-size: 55px;
  font-family: "Headlines";
  color: #CAC9CB;
}
.principalContainer .characterInfo {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  color: #CAC9CB;
}
@media (max-width: 740px) {
  .principalContainer .characterInfo {
    flex-direction: column;
    gap: 20px;
  }
}
.principalContainer .characterInfo p {
  font-size: 28px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 740px) {
  .principalContainer .characterInfo p {
    width: 100%;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .principalContainer .characterInfo p {
    font-size: 20px;
  }
}
.principalContainer .characterInfo ul {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  list-style: none;
  gap: 20px;
  width: 100%;
}
@media (max-width: 768px) {
  .principalContainer .characterInfo ul {
    font-size: 15px;
  }
}
.principalContainer .characterInfo ul li {
  border-bottom: 1px solid #CAC9CB;
  height: 40px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 740px) {
  .principalContainer .characterInfo ul li {
    width: 100%;
  }
}
.principalContainer .titleSection {
  text-align: center;
  width: 100%;
  color: #CAC9CB;
  padding-top: 200px;
  font-size: 150px;
  z-index: 99;
  position: relative;
  font-family: "Headlines";
  font-display: swap;
}
@media (max-width: 740px) {
  .principalContainer .titleSection {
    font-size: 70px;
  }
}

.skillBox {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #CAC9CB;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
  border-radius: 10px;
  margin-top: -50px;
  width: 100%;
  padding: 100px;
}
@media (max-width: 1024px) {
  .skillBox {
    flex-direction: column;
  }
}
@media (max-width: 740px) {
  .skillBox {
    padding: 50px;
  }
}
.skillBox .skillBoxUnique {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}
@media (max-width: 740px) {
  .skillBox {
    width: 100%;
  }
}
.skillBox .skillBoxUnique h3 {
  font-size: 36px;
}
@media (max-width: 1024px) {
  .skillBox .skillBoxUnique h3 {
    font-size: 20px;
    width: 500px;
  }
}
@media (max-width: 1024px) {
  .skillBox .skillBoxUnique h3 {
    font-size: 20px;
    width: 0px;
  }
}
@media (max-width: 740px) {
  .skillBox .skillBoxUnique h3 {
    width: 0px;
  }
}
.skillBox p {
  font-size: 20px;
}
@media (max-width: 1024px) {
  .skillBox p {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .skillBox p {
    width: 500px;
  }
}
@media (max-width: 740px) {
  .skillBox p {
    width: 220px;
  }
}
.skillBox .skillBoxUnique:nth-child(1) {
  color: rgb(181, 181, 0);
}
.skillBox .skillBoxUnique:nth-child(2) {
  color: rgb(0, 109, 181);
}
.skillBox .skillBoxUnique:nth-child(3) {
  color: rgb(1, 126, 28);
}
.skillBox .skillBoxUnique:nth-child(4) {
  color: rgb(234, 82, 171);
}
.skillBox .skillBoxUnique:nth-child(5) {
  color: rgb(252, 54, 74);
}

.textMove {
  display: flex;
  align-items: center;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(59, 59, 59) 89%, rgb(73, 73, 73) 100%);
  color: #b2b1b3;
  width: 100%;
  overflow: hidden;
  height: 300px;
  text-wrap: nowrap;
}
.textMove h2 {
  position: relative;
  font-size: 252px;
  font-family: "Headlines";
}
.textMove h2::before {
  content: attr(data-text);
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.projectContainer .projectItem {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 30px;
  height: 503px;
  overflow: hidden;
  color: #CAC9CB;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0;
}
.projectContainer .projectItem img {
  position: absolute;
  z-index: -2;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 75%;
  top: -40px;
}
.projectContainer .projectItem h3 {
  font-family: "Headlines";
  font-size: 62px;
  padding-left: 30px;
}
@media (max-width: 740px) {
  .projectContainer .projectItem h3 {
    font-size: 30px;
  }
}
.projectContainer .projectItem .projectInfo .containerTag {
  padding-left: 30px;
  padding-bottom: 20px;
  gap: 20px;
  display: flex;
}
.projectContainer .projectItem .projectInfo .containerTag h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(98, 97, 97);
  color: black;
  padding: 20px;
  height: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
  color: #CAC9CB;
  padding: 40px;
  transition: 1s all;
  /* Center slide text vertically */
  display: flex !important;
  height: 450px !important;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: flex-start;
  text-align: left;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media (max-width: 768px) {
  .swiper-slide {
    height: 390px !important;
  }
}
.swiper-slide img {
  height: 50px !important;
  width: 50px !important;
}
.swiper-slide p {
  font-size: 26px;
}
@media (max-width: 1024px) {
  .swiper-slide p {
    font-size: 20px;
  }
}
.swiper-slide h3 {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide:hover {
  transform: scale(0.98) !important;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
  align-items: center;
}
.contactContainer .contactme {
  background: rgb(44, 43, 43);
  border: 5px solid rgba(48, 48, 48, 0.134);
  border-radius: 180px;
  font-size: 222px;
  height: 100%;
  padding: 30px;
  font-family: "Headlines";
  transition: 1s all;
}
@media (max-width: 1024px) {
  .contactContainer .contactme {
    font-size: 150px;
  }
}
@media (max-width: 768px) {
  .contactContainer .contactme {
    font-size: 119px;
  }
}
@media (max-width: 740px) {
  .contactContainer .contactme {
    font-size: 50px;
  }
}
.contactContainer .contactme:hover {
  background: white;
  border: none;
  border: 5px solid rgba(48, 48, 48, 0.134);
  box-shadow: rgba(171, 171, 176, 0.1) 0px 8px 24px, rgba(195, 195, 200, 0.1) 0px 16px 56px, rgba(209, 209, 216, 0.1) 0px 24px 80px;
}
.contactContainer .socialContainer {
  display: flex;
  gap: 200px;
}
@media (max-width: 740px) {
  .contactContainer .socialContainer {
    gap: 20px;
  }
}
.contactContainer .fa {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  color: black;
  background-color: rgb(42, 42, 42);
  border: 5px solid rgba(48, 48, 48, 0.134);
  border-radius: 180px;
  font-size: 252px;
  width: 100px;
  height: 100px;
  transition: 1s all;
  font-size: 62px;
}
.contactContainer .fa:hover {
  border: 5px solid rgba(48, 48, 48, 0.134);
  color: rgb(72, 138, 177);
  box-shadow: rgba(94, 142, 253, 0.1) 0px 8px 24px, rgba(58, 110, 170, 0.1) 0px 16px 56px, rgba(88, 138, 238, 0.353) 0px 24px 80px;
}
.contactContainer .fa:hover:nth-child(2) {
  border: 5px solid rgba(48, 48, 48, 0.134);
  color: rgb(209, 209, 209);
  box-shadow: rgba(215, 215, 215, 0.1) 0px 8px 24px, rgba(209, 209, 209, 0.1) 0px 16px 56px, rgba(238, 238, 238, 0.353) 0px 24px 80px;
}
.contactContainer .fa:hover:nth-child(3) {
  border: 5px solid rgba(48, 48, 48, 0.134);
  color: rgb(255, 115, 229);
  box-shadow: rgba(245, 109, 255, 0.1) 0px 8px 24px, rgba(255, 83, 40, 0.1) 0px 16px 56px, rgba(13, 94, 0, 0.353) 0px 24px 80px;
}

.contactSection {
  display: flex;
  margin-top: 150px;
  width: 100%;
  height: 1250px;
}
@media (max-width: 740px) {
  .contactSection {
    flex-direction: column;
  }
}
.contactSection .contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 50%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  gap: 20px;
  color: white;
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media (max-width: 1024px) {
  .contactSection .contactInfo {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .contactSection .contactInfo {
    width: 50%;
  }
}
@media (max-width: 740px) {
  .contactSection .contactInfo {
    width: 100%;
  }
}
.contactSection .contactInfo .titleSection {
  padding-top: 0px;
  width: 600px;
  line-height: 150px;
  text-align: left;
}
@media (max-width: 740px) {
  .contactSection .contactInfo .titleSection {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .contactSection .contactInfo .titleSection {
    font-size: 70px;
    text-align: center;
  }
}
.contactSection .contactInfo p {
  width: 550px;
}
@media (max-width: 768px) {
  .contactSection .contactInfo p {
    width: 350px;
  }
}
.contactSection .formInfo {
  width: 50%;
  height: 100%;
}
@media (max-width: 740px) {
  .contactSection .formInfo {
    width: 100%;
  }
}
.contactSection .formInfo form {
  display: flex;
  padding: 50px;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .contactSection .formInfo form {
    width: 100%;
  }
}
.contactSection .formInfo form label {
  text-align: left;
  color: white;
}
.contactSection .formInfo form div {
  color: red;
}
.contactSection .formInfo form p {
  color: greenyellow;
}
.contactSection .formInfo form .Field {
  font-size: 20px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  border: none;
  color: #CAC9CB;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contactSection .formInfo form .Field::-moz-placeholder {
  color: #CAC9CB;
}
.contactSection .formInfo form .Field::placeholder {
  color: #CAC9CB;
}
.contactSection .formInfo form .Field-message {
  font-size: 20px;
  padding: 10px;
  height: 250px;
}
.contactSection .formInfo form .formButton {
  width: 150px;
  font-size: 32px;
  padding: 5px;
  border-radius: 10px;
}
.contactSection .formInfo form .defaultButton {
  width: 200px;
}

.defaultButton {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 20px;
  padding: 15px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 26px;
  color: black;
  border: none;
  background: radial-gradient(circle, rgb(71, 70, 70) 0%, rgb(71, 71, 71) 89%, rgba(89, 88, 88, 0.44) 100%);
  transition: 1s all;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.defaultButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(116, 118, 122, 0.1) 0px 8px 24px, rgba(58, 110, 170, 0.1) 0px 16px 56px, rgba(134, 135, 138, 0.353) 0px 24px 80px;
}

.AboutContainer .characterRole {
  flex-direction: column;
  display: flex;
  margin-bottom: -100px;
}
.AboutContainer .characterRole h2 {
  font-size: 152px;
}
@media (max-width: 740px) {
  .AboutContainer .characterRole h2 {
    font-size: 90px;
  }
}
.AboutContainer p {
  color: #CAC9CB;
  font-size: 1.5rem;
  line-height: 129%;
}
.AboutContainer .AboutInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AboutContainer .AboutInfo p {
  font-size: 1.8rem;
  width: 40%;
  font-weight: 400;
  line-height: 122.376%;
}
@media (max-width: 740px) {
  .AboutContainer .AboutInfo p {
    width: 100%;
    font-size: 1.3rem;
  }
}
.AboutContainer .journeyContainer {
  font-family: "Headlines";
  color: #CAC9CB;
}
.AboutContainer .journeyContainer h3 {
  font-size: 62px;
  margin-bottom: 20px;
  border-bottom: 10px solid rgb(58, 58, 58);
}
.AboutContainer .journeyContainer li {
  margin-left: 150px;
  font-size: 52px;
}
@media (max-width: 740px) {
  .AboutContainer .journeyContainer li {
    margin-left: 34px;
  }
}
.AboutContainer .defaultButton {
  margin: 100px;
  margin-left: 45%;
}
@media (max-width: 1024px) {
  .AboutContainer .defaultButton {
    margin-left: 35%;
  }
}

.projetContainer {
  margin-top: 200px;
  color: white;
}
.projetContainer .titleSection {
  font-size: 200px;
  margin-bottom: -30px;
}
@media (max-width: 740px) {
  .projetContainer .titleSection {
    font-size: 100px;
  }
}/*# sourceMappingURL=style.css.map */