*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Headlines;
  src: url("/fonts/HeadlinesUniB-MediumTrial.otf");
}
body {
  background-color: rgb(31, 30, 29);
}

nav {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(31, 30, 29);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 999;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav .Link {
  color: white;
  list-style: none;
  text-decoration: none;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.principalContainer {
  width: 85%;
  height: 100%;
}
.principalContainer .characterRole {
  flex-direction: column;
  gap: 30px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 120px;
}
.principalContainer .characterRole img {
  background-color: blue;
  width: 30%;
  height: 60%;
}
.principalContainer .characterRole h2 {
  font-size: 55px;
  font-family: "Headlines";
  color: #CAC9CB;
}
.principalContainer .characterInfo {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  color: #CAC9CB;
}
.principalContainer .characterInfo p {
  font-size: 28px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
.principalContainer .characterInfo ul {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  list-style: none;
  gap: 20px;
  width: 100%;
}
.principalContainer .characterInfo ul li {
  border-bottom: 1px solid #CAC9CB;
  height: 40px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
.principalContainer .titleSection {
  text-align: center;
  width: 100%;
  color: #CAC9CB;
  padding-top: 200px;
  font-size: 150px;
  z-index: 99;
  position: relative;
  font-family: "Headlines";
}

.skillBox {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #CAC9CB;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
  border-radius: 10px;
  margin-top: -50px;
  width: 100%;
  padding: 100px;
  height: 300px;
}
.skillBox .skillBoxUnique {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}
.skillBox .skillBoxUnique h3 {
  font-size: 26px;
}
.skillBox .skillBoxUnique:nth-child(1) {
  color: rgb(181, 181, 0);
}
.skillBox .skillBoxUnique:nth-child(2) {
  color: rgb(0, 109, 181);
}
.skillBox .skillBoxUnique:nth-child(3) {
  color: rgb(1, 126, 28);
}
.skillBox .skillBoxUnique:nth-child(4) {
  color: rgb(234, 82, 171);
}
.skillBox .skillBoxUnique:nth-child(5) {
  color: rgb(252, 54, 74);
}

.textMove {
  display: flex;
  align-items: center;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(59, 59, 59) 89%, rgb(73, 73, 73) 100%);
  color: #b2b1b3;
  width: 100%;
  overflow: hidden;
  height: 300px;
  text-wrap: nowrap;
}
.textMove h2 {
  position: relative;
  font-size: 252px;
  font-family: "Headlines";
}
.textMove h2::before {
  content: attr(data-text);
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.projectContainer .projectItem {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 30px;
  height: 503px;
  overflow: hidden;
  color: #CAC9CB;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 0;
}
.projectContainer .projectItem img {
  position: absolute;
  z-index: -2;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  top: -40px;
  transform: scale(1.2);
}
.projectContainer .projectItem h3 {
  font-family: "Headlines";
  font-size: 62px;
  padding-left: 50px;
}
.projectContainer .projectItem .projectInfo .containerTag {
  padding: 50px;
  gap: 20px;
  display: flex;
}
.projectContainer .projectItem .projectInfo .containerTag h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 20px;
  background-color: white;
  color: black;
  width: 100px;
  height: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(29, 29, 29) 0%, rgb(44, 43, 43) 89%, rgba(79, 77, 77, 0.44) 100%);
  color: #CAC9CB;
  padding: 40px;
  transition: 1s all;
  /* Center slide text vertically */
  display: flex !important;
  height: 450px !important;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: flex-start;
  text-align: left;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.swiper-slide img {
  height: 50px !important;
  width: 50px !important;
}
.swiper-slide p {
  font-size: 26px;
}
.swiper-slide h3 {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide:hover {
  transform: scale(0.98) !important;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
}
.contactContainer .contactme {
  background: rgb(42, 42, 42);
  border: 5px solid rgba(48, 48, 48, 0.134);
  border-radius: 180px;
  font-size: 252px;
  height: 60%;
  width: 80%;
  font-family: "Headlines";
  transition: 1s all;
}
.contactContainer .contactme:hover {
  background: white;
  border: none;
  border: 5px solid rgba(48, 48, 48, 0.134);
  box-shadow: rgba(171, 171, 176, 0.1) 0px 8px 24px, rgba(195, 195, 200, 0.1) 0px 16px 56px, rgba(209, 209, 216, 0.1) 0px 24px 80px;
}
.contactContainer .socialContainer {
  display: flex;
  gap: 200px;
}
.contactContainer .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 42, 42);
  border: 5px solid rgba(48, 48, 48, 0.134);
  border-radius: 180px;
  font-size: 252px;
  width: 100px;
  height: 100px;
  transition: 1s all;
  font-size: 62px;
}
.contactContainer .fa:hover {
  border: 5px solid rgba(48, 48, 48, 0.134);
  color: rgb(72, 138, 177);
  box-shadow: rgba(94, 142, 253, 0.1) 0px 8px 24px, rgba(58, 110, 170, 0.1) 0px 16px 56px, rgba(88, 138, 238, 0.353) 0px 24px 80px;
}
.contactContainer .fa:hover:nth-child(2) {
  border: 5px solid rgba(48, 48, 48, 0.134);
  color: rgb(209, 209, 209);
  box-shadow: rgba(215, 215, 215, 0.1) 0px 8px 24px, rgba(209, 209, 209, 0.1) 0px 16px 56px, rgba(238, 238, 238, 0.353) 0px 24px 80px;
}
.contactContainer .fa:hover:nth-child(3) {
  border: 5px solid rgba(48, 48, 48, 0.134);
  color: rgb(255, 115, 229);
  box-shadow: rgba(245, 109, 255, 0.1) 0px 8px 24px, rgba(255, 83, 40, 0.1) 0px 16px 56px, rgba(13, 94, 0, 0.353) 0px 24px 80px;
}

.defaultButton {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 20px;
  padding: 15px;
  border-radius: 20px;
  font-size: 26px;
  color: black;
  border: none;
  background: radial-gradient(circle, rgb(197, 197, 197) 0%, rgb(154, 150, 150) 89%, rgba(227, 224, 224, 0.44) 100%);
  transition: 1s all;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.defaultButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(116, 118, 122, 0.1) 0px 8px 24px, rgba(58, 110, 170, 0.1) 0px 16px 56px, rgba(134, 135, 138, 0.353) 0px 24px 80px;
}/*# sourceMappingURL=style.css.map */