// ************************************************
// ***********         RESET CSS         **********
// ************************************************

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ************************************************
// ***********         FONT  CSS         **********
// ************************************************

@font-face {
    font-family: Headlines;
    src: url('/fonts/HeadlinesUniB-MediumTrial.otf');
}

$titlefont : 'Headlines';


// ************************************************
// ***********         COLOR CSS         **********
// ************************************************

$black: rgb(31, 30, 29);
$gray : #CAC9CB;





// ************************************************
// ***********         RESPONSIVE        **********
// ************************************************


@mixin for-phone{
    @media (max-width:740px) {
        @content
        
    }
};


@mixin for-tablet{
    @media (max-width:768px) {
        @content
        
    }
};

@mixin for-1024{
    @media (max-width:1024px) {
        @content
        
    }
};


// ************************************************
// ***********         GLOBAL            **********
// ************************************************

body{
    background-color: $black;
}




// ************************************************
// ***********         IMPORT            **********
// ************************************************

@import "nav";
@import "principalContainer";
@import "textMove";
@import "projectContent";
@import "swiper";
@import "Contact";
@import "DefaultButton";
@import "AboutContainer";
@import "projetContainer";

