// ************************************************
// ***********         RESET CSS         **********
// ************************************************

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ************************************************
// ***********         FONT  CSS         **********
// ************************************************

@font-face {
    font-family: Headlines;
    src: url('/fonts/HeadlinesUniB-MediumTrial.otf');
}

$titlefont : 'Headlines';


// ************************************************
// ***********         COLOR CSS         **********
// ************************************************

$black: rgb(31, 30, 29);





// ************************************************
// ***********         RESPONSIVE        **********
// ************************************************


@mixin for-phone{
    @media (max-width:555px) {
        @content
        
    }
}


// ************************************************
// ***********         GLOBAL            **********
// ************************************************

body{
    background-color: $black;
}




// ************************************************
// ***********         IMPORT            **********
// ************************************************

@import "nav";
@import "principalContainer";
@import "textMove";
@import "projectContent";
@import "swiper";

