// ************************************************
// ***********         RESET CSS         **********
// ************************************************

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ************************************************
// ***********         FONT  CSS         **********
// ************************************************




// ************************************************
// ***********         COLOR CSS         **********
// ************************************************

$black: rgba(52, 49, 45, 1);





// ************************************************
// ***********         RESPONSIVE        **********
// ************************************************


@mixin for-phone{
    @media (max-width:555px) {
        @content
        
    }
}


// ************************************************
// ***********         GLOBAL            **********
// ************************************************

body{
    background-color: $black;
}




// ************************************************
// ***********         IMPORT            **********
// ************************************************

@import "nav";
@import "principalContainer";